name: 'Terraform CI/CD'

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target Environment'
        required: true
        default: dev
        type: choice
        options:
          - dev

permissions:
  id-token: write
  contents: read

jobs:
  shared_terraform_plan:
    runs-on: ubuntu-latest
    name: "Shared Terraform Plan"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Plan
        uses: ./.github/actions/terraform_plan
        with:
          role_arn: "arn:aws:iam::951296734763:role/github-actions-role"
          working_dir: "./terraform/shared"
          environment: shared
  shared_terraform_apply:
    needs: shared_terraform_plan
    runs-on: ubuntu-latest
    name: "Shared Terraform Apply"
    environment: Deploy
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Apply
        uses: ./.github/actions/terraform_apply
        with:
          role_arn: "arn:aws:iam::951296734763:role/github-actions-role"
          working_dir: "./terraform/shared"
          environment: shared
  
  core_terraform_plan:
    needs: shared_terraform_apply
    runs-on: ubuntu-latest
    name: "Core Terraform Plan"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Plan
        uses: ./.github/actions/terraform_plan
        with:
          role_arn: "arn:aws:iam::951296734763:role/github-actions-role"
          working_dir: "./terraform/core"
          environment: ${{ inputs.environment }}
  core_terraform_apply:
    needs: core_terraform_plan
    runs-on: ubuntu-latest
    name: "Core Terraform Apply"
    environment: Deploy
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Apply
        uses: ./.github/actions/terraform_apply
        with:
          role_arn: "arn:aws:iam::951296734763:role/github-actions-role"
          working_dir: "./terraform/core"
          environment: ${{ inputs.environment }}
  
  app_terraform_plan:
    needs: core_terraform_apply
    runs-on: ubuntu-latest
    name: "App Terraform Plan"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Plan
        uses: ./.github/actions/terraform_plan
        with:
          role_arn: "arn:aws:iam::951296734763:role/github-actions-role"
          working_dir: "./terraform/app"
          environment: ${{ inputs.environment }}
  app_terraform_apply:
    needs: app_terraform_plan
    runs-on: ubuntu-latest
    name: "App Terraform Apply"
    environment: Deploy
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Terraform Apply
        uses: ./.github/actions/terraform_apply
        with:
          role_arn: "arn:aws:iam::951296734763:role/github-actions-role"
          working_dir: "./terraform/app"
          environment: ${{ inputs.environment }}